@import "fonts", "header", "header2", "fuentes", "footer", "obras", "biblioteca", "contacto";

$colores: (
	verde: #00784c,
	gris: rgb(109, 109, 109),
	verde-claro: #7eb650,
);

@each $color, $hex in $colores {
	.btn--#{$color} {
		background-color: $hex;
		color: white;
	}
}

$color-primario: #00784c;
$color-secundario: rgb(109, 109, 109);
$sombra: 0px 1px 3px 1px #46464657;

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/* box-sizing: border-box; */
}

html {
	width: 100vw;
	background-color: rgb(0, 0, 0);
	/* overflow-x: unset; */
}

body {
	background-color: rgb(250, 250, 250);
	font-family: $open-sans;
	display: flex;
	flex-direction: column;
	align-items: center;

	// display: block;
	margin: 0;
	/* justify-items: center; */
	color: rgb(124, 124, 124);
	/* overflow-x: hidden; */
	p {
		font-size: clamp(16px, 1.4vw, 21px);
		color: rgb(50, 50, 50);
	}

	h2 {
		font-family: $roboto;
		font-size: clamp(26px, 3.5vw, 32px);
		color: black;
		font-weight: 700;
	}

	h3 {
		font-family: $roboto;
		font-size: clamp(20px, 1.8vw, 26px);
		padding-bottom: 7px;
		font-weight: 500;
	}

	.boton {
		width: 150px;
		height: 37px;
		border: none;
		box-shadow: $sombra;
		margin: 8px 3px 8px 3px;
		font-family: $roboto;
		border-radius: 2px;

		// text-transform: uppercase;
	}
	.boton--primario {
		@extend .boton;
		background-color: $color-primario;
		color: white;
	}
	.boton--secundario {
		@extend .boton;
		color: white;
		background-color: $color-secundario;
	}

	.wrapper {
		margin: 60px 10vw 60px 10vw;
		display: grid;
		gap: 40px;
		grid-template-areas:
		/* "header" */
			"texto1"
			"foto1"
			"texto2"
			"foto2";

		.section1__texto {
			grid-area: texto1;
		}
		.section1__foto {
			grid-area: foto1;
		}
		.section2__texto {
			grid-area: texto2;
		}
		.section2__foto {
			grid-area: foto2;
		}
		.section__banner {
			grid-area: banner;
		}
		.section1__texto,
		.section2__texto {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
		}
		.btn {
			width: 120px;
			height: 40px;
		}
		.section1__foto,
		.section2__foto {
			display: flex;
			box-shadow: 0px 2px 5px 2px #46464657;
			overflow: hidden;
			margin: 6px;
			.foto__img--fachada,
			.foto__img--historia,
			.foto__img--bibFachada {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.section__banner {
		width: 100vw;
		padding-bottom: 80px;
		padding-top: 80px;
		text-align: center;
		background-color: rgb(225, 225, 225);
		box-shadow: inset 1px 1px 10px 1px #4646462c;
		.section__banner--logos {
			margin: 0 auto;
			display: flex;
			justify-content: space-evenly;
			margin-top: 30px;
			height: 100px;
			display: flex;
			align-items: center;
			div {
				img {
					width: 90px;
				}
			}
		}
	}
	@media (min-width: 830px) {
		.wrapper {
			margin: 0 10vw 0 10vw;
			margin-top: 80px;
			margin-bottom: 80px;
			grid-template-columns: 1fr 1fr 1fr;
			max-width: 1500px;
			padding: 20px 0 20px 0;
			row-gap: 80px;
			grid-template-areas:
				"foto1  texto1 texto1"
				"texto2 texto2 foto2";
		}
		.section__banner {
			width: 100%;
		}
	}
}
