@import "fonts", "header", "header2", "fuentes", "footer", "obras", "eventos", "biblioteca", "contacto", "gracias";

$colores: (verde: #00784c,
	gris: rgb(109, 109, 109),
	verde-claro: #7eb650,
);

@each $color,
$hex in $colores {
	.btn--#{$color} {
		background-color: $hex;
		color: white;
	}
}

@mixin color-botones($color-letra, $color-fondo) {
	color: $color-letra;
	background-color: $color-fondo;
}

@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}

$color-primario: #00784c;
$color-secundario: rgb(109, 109, 109);
$sombra: 1px 1px 3px 1px #46464657;
$sombra2: 2px 2px 3px 5px #46464657;
$verdeHover: #009c63;
$grisHover: rgb(146, 146, 146);

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box; 
}

html {
	width: 100vw;
	background-color: rgb(0, 0, 0);
	/* overflow-x: unset; */
}

body {
	background-color: rgb(250, 250, 250);
	font-family: $open-sans;
	display: flex;
	flex-direction: column;
	align-items: center;

	// display: block;
	margin: 0;
	/* justify-items: center; */
	color: rgb(124, 124, 124);

	/* overflow-x: hidden; */
	p {
		font-size: 16px;
		color: rgb(50, 50, 50);
	}

	h2, h1 {
		// font-family: $roboto;
		font-family: 'Roboto Slab', serif;
		font-size: 1.3rem;
		color: black;
		font-weight: 700;
		overflow: visible;
		margin-bottom: 0;
	}

	h1 {
		font-size: 2rem;	
		margin-top: 2rem;
	}

	h3 {
		// font-family: $roboto;
		// font-family: 'Hanuman', serif;
		font-size: 1.2rem;
		padding-bottom: 7px;
		font-weight: 500;
	}

	.boton {
		width: 150px;
		height: 37px;
		border: none;
		box-shadow: $sombra;
		margin: 8px 3px 8px 3px;
		font-family: $roboto;
		border-radius: 2px;
		color: white;
	}

	.boton:active {
		@include color-botones(black, white);
		// no entiendo por qué no funciona la pseudo clase active, la idea es que cambie de color cuando se hace click...
	}

	.boton--primario {
		@extend .boton;
		background-color: $color-primario;
	}

	.boton--primario:hover {
		background-color: $verdeHover;
	}

	.boton--primario:active {
		@include color-botones(black, white);
		// no entiendo por qué no funciona la pseudo clase active, la idea es que cambie de color cuando se hace click...
	}

	.boton--secundario {
		@extend .boton;
		background-color: $color-secundario;
	}

	.boton--secundario:hover {
		background-color: $grisHover;
	}

	.boton--secundario:active {
		@include color-botones(black, white);
		// no entiendo por qué no funciona la pseudo clase active, la idea es que cambie de color cuando se hace click...
	}

	.wrapper {
		margin: 60px 10vw 60px 10vw;
		display: grid;
		gap: 40px;
		grid-template-areas:
			/* "header" */
			"texto1"
			"foto1"
			"texto2"
			"foto2"
			"texto3"
			"foto3";

		.section1__texto {
			grid-area: texto1;
		}

		.section1__foto {
			grid-area: foto1;
		}

		.section2__texto {
			grid-area: texto2;
		}

		.section2__foto {
			grid-area: foto2;
		}

		.section3__texto {
			grid-area: texto3;
		}

		.section3__foto {
			grid-area: foto3;
		}

		.section__banner {
			grid-area: banner;
		}

		.section1__texto,
		.section2__texto,
		.section3__texto {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;

			p {
				margin: 0;
			}

			h2 {
				padding-bottom: 20px;
			}
		}

		.btn {
			width: 120px;
			height: 40px;
		}

		.section1__foto,
		.section2__foto,
		.section3__foto {
			display: flex;
			box-shadow: $sombra;
			overflow: hidden;
			margin: 6px;
			border-radius: 3px;
			min-height: 300px;

			img {
				object-fit: cover;
			}

			.foto__img--fachada,
			.foto__img--historia,
			.foto__img--bibFachada {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	#galeria {
		margin: 0px 10vw 0px 10vw;
		margin-bottom: 120px;
		width: 80vw;
		// overflow-y: hidden;
		overflow-x: visible;
		max-width: 1500px;

		#galeria__carousel {
			border-radius: 3px;
			overflow-x: visible;
			@include sizes(100%, 50vw);
			min-height: 350px;
			max-height: 80vh;
			box-shadow: $sombra;

			.carousel-inner {
				border-radius: 3px;
				overflow: hidden;
				height: 100%;

				.carousel-item {
					overflow: hidden;
					height: 100%;

					img {
						object-position: center;
						overflow: hidden;
						object-fit: cover;
						@include sizes(100%, 100%);
					}
				}
			}
		}
	}

	.section__banner {
		width: 100vw;
		padding-bottom: 80px;
		padding-top: 80px;
		text-align: center;
		background-color: rgb(225, 225, 225);
		box-shadow: inset 1px 1px 10px 1px #4646462c;

		.section__banner--logos {
			margin: 0 auto;
			display: flex;
			justify-content: space-evenly;
			margin-top: 30px;
			height: 100px;
			display: flex;
			align-items: center;

			div {
				img {
					width: 90px;
				}
			}
		}
	}

	@media (min-width: 830px) {
		.wrapper {
			margin: 0 10vw 0 10vw;
			margin-top: 80px;
			margin-bottom: 80px;
			grid-template-columns: 1fr 1fr;
			max-width: 1500px;
			padding: 20px 0 20px 0;
			row-gap: 80px;
			grid-template-areas:
				"foto1 texto1"
				"texto2 foto2"
				"foto3 texto3";
		}

		.section__banner {
			width: 100%;
		}
	}

	@media (min-width: 1000px) {
		.wrapper {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				"foto1  texto1 texto1"
				"texto2 texto2 foto2"
				"foto3  texto3 texto3";
		}
	}
}