.carousel-item {
}
.carousel-caption {
}
.carousel-caption {
}
.carousel-control-prev,
.carousel-control-next {
}

.header__carousel {
	/* position: absolute; */
}

.header__nav {
}

.header__nav--ul {
}

.header__nav--ul li {
}

.header__nav--ul li a {
}

.header__nav--ul li:hover {
}

.header__nav--ul li a:hover {
}

.activo {
}

.nav__logo--img {
}

.nav__logo {
}

.circle {
}

.nav-colored {
}

/* hasta acá llegué */
.nav-colored .circle,
.header__nav--ul {
}
.nav-colored .circle,
.nav-colored .nav__logo,
.nav-colored .nav__logo--img {
	/* height: 70px; */
}

.nav-colored .header__nav--ul {
}

.nav-colored .header__nav--ul,
.nav-colored .header__nav--ul li a {
	/* padding: 5px 10px 5px 10px; */
}

/* esto creo que no va más... */
.header__nav--logo {
	max-width: 120px;
	display: inline-block;
	overflow: visible;
	/* padding-left: 15%; */
}

/* /////// MAIN /////// */

p {
}

h2 {
}

h3 {
}

/* //// GRID //// */
.main-head {
	grid-area: header;
}

.wrapper {
}

.section1__texto,
.section2__texto {
}

.btn {
	/* margin-top: 20px; */
}

.section1__foto {
}

.section2__foto {
}

.section1__foto,
.section2__foto {
}

.foto__img--fachada,
.foto__img--historia,
.foto__img--bibFachada {
}

.section1__texto,
.section1__foto,
.section__banner,
.section2__foto,
.section2__texto,
.footer1,
.footer2,
.footer3 {
	/* box-sizing: border-box; */
	/* border: 4px solid red; */
}

.section__banner {
}

.section__banner--logos {
}

.section__banner--logos div img {
}

/* ///////// FOOTER ///////// */
footer {
}
.footer__grid {
}
.footer__grid > * {
	/* min-width: 400px; */
}

.footer1 {
}
.footer2 {
}
.footer3 {
}
.footer1 form {
}
.footer1 form > * {
}

.footer__img--logo {
}
.contact_icon {
}

.footer__column {
	/* width: 23vw; */
}
.footer__column ul {
}
.footer__column div {
	/* margin-top: 7px; */
	/* display: flex; */
	/* align-items: center; */
}
.footer__column p {
}
.footer__column--sitemap li a {
}

@media (min-width: 500px) {
}

@media (min-width: 830px) {
	.wrapper {
	}
	.section__banner {
	}

	footer {
	}
	.footer__grid {
	}
	.footer__grid > * {
		/* max-width: 250px; */
	}
	.footer1 {
	}
	.footer2 {
	}
	.footer3 {
	}
	.footer--logo {
		/* display: flex; */
	}
	.footer__img--logo {
		align-self: end;
	}

	.header__nav {
		/* padding-left: 30vw; */
		/* padding-right: 30vw; */
	}
	.circle {
	}
	.nav-colored {
		/* padding: 5px 30vw 5px 30vw; */
	}
	.nav-colored .circle {
	}
	.header__nav--ul {
	}
	.nav-colored .circle,
	.nav-colored .nav__logo,
	.nav-colored .nav__logo--img {
		/* height: 70px; */
	}
	.nav-colored .header__nav--ul,
	.nav-colored .header__nav--ul li a {
		/* padding: 5px 10px 5px 10px; */
	}
}

/* //// CONTACTO //// */
.header2 {
	height: 400px;
}

.section2__texto--contacto div img {
	color: black;
	/* filter: invert(99%) sepia(93%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(00%); */
}
.section__form {
	grid-area: form;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.section__form * {
	display: block;
}
.mapouter {
	grid-area: map;
	align-self: start;
}
.wrapper__contacto {
	/* display: grid; */
	/* grid-template-columns: 1fr; */
	max-width: 100%;
	/* justify-content: start; */
	/* justify-items: start; */
	/* gap: 40px; */
	margin: 40px 10vw 40px 10vw;
	/* padding: 40px, 5vw, 40px, 5vw; */
	/* grid-template-areas: */
	/* "info" */
	/* "map" */
	/* "form" */
}

@media screen and (min-width: 768px) {
	.wrapper__contacto {
		/* grid-template-columns: 1fr 1fr; */
		/* grid-template-areas:  */
		/* "map 			info" */
		/* "form 		form"; */

		max-width: 100%;
		margin: 0 10vw 0 10vw;
		/* gap: 20px; */
	}
}

/* //// OBRAS //// */
.header__img {
	width: 100%;
	object-fit: cover;
}
.figure__img {
	object-fit: contain;
	height: 100%;
	padding: 0;
}
.img-fluid {
	padding: 0;
}
.container {
	margin: 0;
}
.margin {
	margin: 0 10vw 50px 10vw;
}
