@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Open+Sans:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
	/* box-sizing: border-box; */
}

html {
	background-color: rgb(0, 0, 0);
	overflow-x: unset;
}

body {
	background-color: rgb(250, 250, 250);
	/* background-color: #00784C; */
	font-family: 'Open Sans', sans-serif;
	justify-content: center;
	display: block;
	margin: 0 auto;
	/* justify-items: center; */
	color:rgb(124, 124, 124);
	/* overflow-x: hidden; */
}


/* ///////// HEADER ///////// */
header {
	/* background-color: seagreen; */
	background-color: rgb(83, 83, 83);
	margin-top: 0;
	width: 100vw;
	height: 700px;
	position: relative;
	background-image: url(../imagenes/cartel.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	width: 100vw;
	justify-content: center;
	display: flex;
	box-shadow: inset 0px 0px 15px 10px #3030307a;
}

 .header_nav {
	margin-top: 30px;
	height: 240px;
	width: 90vw;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position:fixed;
	padding-left: 0%;
	padding-right: 0%;
	/* overflow: visible; */
}

.header_nav--ul  {
	display: flex;
	flex-direction: row;
	justify-content: start;
	/* padding: 10px 0vw 10px 0vw; */
	box-shadow:  1px 3px 7px 2px #3030307a;
	padding: 10px 0 10px 0;
	background-color: white;
}

.header_nav--ul li{
	display: inline-block;
	align-items: left;
	word-wrap: unset;
	overflow: visible;
}

.header_nav--ul li a {
	text-decoration: none;
	/* font-size: 1.5vw; */
	font-weight: 500;
	font-size: clamp(16px, 1.5vw, 18px);
	background-color: white;
	padding: 10px 2.1vw 10px 2.1vw;
	margin: 0;
	color: rgb(53, 53, 53);
}

.header_nav--ul li a:hover{
	color: white;
	background-color: rgb(83, 83, 83);
}

.circle {
		height: 120px;
		width: 120px;
		border-radius: 100px;
		position: absolute;
		top: 23px;

		/* box-shadow:  2px 1px 5px 2px #3030307a; */
	box-shadow:  1px 3px 8px 3px #3030307a;
}

.header_nav--logo{
	max-width: 120px;
	display: inline-block;
	overflow: visible;

	/* padding-left: 15%; */
}

/* /////// MAIN /////// */

p {
	font-size: clamp(16px, 1.4vw, 21px);
	color: rgb(50, 50, 50);
}

h2 {
	font-size: clamp(26px, 3.5vw, 32px);
	color: black;
	font-weight: 700;
}

h3 {
	font-size: clamp(20px, 1.8vw, 26px);
	padding-bottom: 7px;
	font-weight: 500;
}

/* //// GRID //// */
.main-head {
	grid-area: header
}
.section1__texto {
	grid-area: texto1;
}
.section1__foto {
	grid-area: foto1;
}
.section2__texto {
	grid-area: texto2;
}
.section2__foto {
	grid-area: foto2
}
.section__banner {
	grid-area: banner
}

.wrapper {
	margin: 60px 10vw 60px 10vw;
	display: grid;
	gap: 40px;
	grid-template-areas:
		/* "header" */
		"texto1"
		"foto1"
		"texto2"
		"foto2";
	/* max-width: 1100px; */
}

.section1__foto {
	margin-bottom: 30px;
	display: flex;
	justify-content: start;
	/* width: 300px; */
	/* height: 300px; */
}

.section2__foto {
	display: flex;
	justify-content: center;
	/* width: 300px; */
	/* height: 300px; */
}

.section1__foto, .section2__foto {
	box-shadow: 0px 2px 7px 2px #46464657;
	overflow: hidden;
}

.section1__texto, .section1__foto, .section__banner, .section2__foto, .section2__texto, .footer1, .footer2, .footer3 {
	/* box-sizing: border-box; */
	/* border: 4px solid red; */
}

.foto__img--fachada, .foto__img--historia {
	width: 100%;
	height: 100%;
}

.section__banner {
	padding-bottom: 80px;
	padding-top: 80px;
	text-align: center;
	background-color: rgb(225, 225, 225);
	box-shadow: inset 1px 1px 10px 1px #4646462c;
}

.section__banner--logos {
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;
	height: 100px;
	display: flex;
	align-items: center;
}

.section__banner--logos div img{
	width: 100px;
}

/* ///////// FOOTER ///////// */
footer {
	background-color: rgb(83, 83, 83);
	/* box-shadow: inset 1px 3px 7px 2px #3030307a; */
	display: flex;
	justify-content: center;
}
.footer__grid {
	display: grid;
	align-items: baseline;
	align-content: center;
	color:rgb(230, 230, 230);
	padding: 50px 15vw 50px 15vw;
	min-height: 320px;
	grid-template-areas:
		"footer1"
		"footer2"
		"footer3";
	gap: 40px;
	justify-items: start;
	align-content: center;
}
.footer__grid > * {
	min-width: 400px;
}

.footer1 {
	grid-area: footer1;
}
.footer2 {
	grid-area: footer2;
}
.footer3 {
	grid-area: footer3;
}
.footer1 form {
	margin-top: 10px;
	display: block;
}
.footer1 form > *{
	display: block;
}

.footer_img--logo {
	max-width: 80px;
	display: block;
	/* margin: auto; */
	margin-top: 35px;
	margin-bottom: 20px;
	align-self: end;
}

.contact_icon {
	max-width: 25px;
	padding-right: 10px;
	filter: invert(99%) sepia(93%) saturate(579%) hue-rotate(191deg) brightness(114%) contrast(80%);
}

.footer__column {
/* width: 23vw; */
}
.footer__column ul {
	list-style: none;
}
.footer__column div {
	/* margin-top: 7px; */
	/* display: flex; */
	/* align-items: center; */
}
.footer__column p {
	color:rgb(200, 200, 200);
}
.footer__column--sitemap li a{
	text-decoration: none;
	color:rgb(230, 230, 230);
}

@media screen and (min-width: 768px) {
	.wrapper {
		/* width: 100%; */
		margin: 0 auto;
		margin-top: 80px;
		margin-bottom: 80px;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 20px 10vw 20px 10vw;
		row-gap: 80px;
		max-width: 1100px;
		grid-template-areas: 
			"foto1  texto1 texto1"
			"texto2 texto2 foto2"
			/* "footer footer footer" */
	}
	.section__banner {
		width: 100%;
	}

	footer {
		display: flex;
		align-content: center;
		justify-content: center;
		padding: 50px 10vw 50px 10vw;
	}
	.footer__grid {
		justify-items: start;
		padding-top: 60px;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			"footer1 footer2 footer3";
		max-width: 1200px;
		width: 100%;
	}
	.footer__grid > * {
		min-width: 200px;
		/* max-width: 250px; */
	}
	.footer2 {
		text-align: center;
	}
	.footer3 {
		width: 100%;
		text-align: end;
	}
	.footer--logo {
		/* display: flex; */
		display: flex;
		justify-content: end;
	}
	.footer__img--logo {
		align-self: end;
	}
	 .header_nav {
		margin-top: 0px;
		height: 240px;
		width: 80vw;
		max-width: 1100px;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 15vw;
		padding-right: 15vw;
		/* overflow: visible; */
	}
	.circle {
	top: 57px;
	}
}
